# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\STS\Projects\springbootrestdemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
